<section class="example-section" [formGroup]="toppings">
  <h4>Select your toppings:</h4>
  <p class="foo">
    <mat-form-field>
      <input type="text" matInput style="display: none" formControlName="pepperoni">
      <mat-checkbox formControlName="pepperoni" #checkbox="matCheckbox"></mat-checkbox>
      <checkbox-label-with-link [checkbox]="checkbox">
        <ng-container prefix>Prefix</ng-container>
        <a mat-button>Link</a>
        <ng-container suffix>Suffix</ng-container>
      </checkbox-label-with-link>
    </mat-form-field>
  </p>
  <p>
    <mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox>
  </p>
</section>

<section class="example-section" [formGroup]="toppings">
  <h4>You chose:</h4>
  {{toppings.value | json}}
</section>
